<h1>Bills#show</h1>

<%= link_to 'Back to Billboards', bills_path %>
<p><%= @bill.name %></p>
<% if @songs.any? %>
  <% @songs.each do |song| %>
    <p><%= song.name %></p>
     <%= link_to 'Remove', remove_bill_song_path(@bill, song), method: :delete %>
  <% end %>
<% end %>

<%= link_to 'Add', new_bill_song_path(@bill) %>